@import '~bootstrap/scss/functions';

$light-purple: #9357d1;
$dark-purple: #5346b3;
$dark: #272727;
$red: #e24c4b;
$orange: #fd8708;
$grey: #868686;
$blue: #61bcea;
$green: #6ac268;
$primary: $dark-purple;

@import '~bootstrap/scss/variables';
